- @page = 'feedback'
- @breadcrumb = 'Клиенты о нас'
== slim :breadcrumbs
== slim :sidebar
.leftbar
	h1 Клиенты о нас
	.review
		.border
			img src="images/review.png"
		span.cap Название
	.review
		.border
			img src="images/review.png"
		span.cap Название
	.review
		.border
			img src="images/review.png"
		span.cap Название<br/>в две строки
	.review
		.border
			img src="images/review.png"
		span.cap Название
	.review
		.border
			img src="images/review.png"
		span.cap Название
	.review
		.border
			img src="images/review.png"
		span.cap Название
	.review
		.border
			img src="images/review.png"
		span.cap Название
	.review
		.border
			img src="images/review.png"
		span.cap Название
