- @page = 'send_request'
- @breadcrumb = 'Работа вахтой'
== slim :breadcrumbs
== slim :sidebar
.leftbar
	h1 Работа вахтой
	p Холдинг ES B.V. предлагает Вашему предприятию сотрудничество в области предоставления квалифицированных специалистов рабочих специальностей в различных отраслях промышленности, в том числе строительной, машиностроительной, металлургической, пищевой и литейного производства и т.д., для работы ВАХТОВЫМ методом.
	.table.req
		.td.sws
 			| Зарплата
 			.range
 				.handlers
 					.handler style="margin-left: 93px"
 					.handler.h2 style="margin-left: 191px"
 				.input_r
 					.bar style="margin-left: 100px; width: 100px"
 			div style="float: right"
	 			.capt
	 				| До
	 			.input.min
	 				.left_b
	 				input value="20000"
	 				.right_b
 			.capt
 				| З/п от 
 			.input.min
 				.left_b
 				input value="7500"
 				.right_b
 			br
 			br
 			hr
 		.td.sw
 			h3 Вас может трудоустроить наш сотрудник
 			p style="margin-top: 20px; margin-bottom: 10px" Менеджер по подбору персонала
 			ul.button
				li.left_side.borderless.grey
				li.first.last.grey style="width: 235px": a href="#" Трудоустроиться
				li.right_side.borderless.grey
			img style="margin: 20px 0" src="images/vahta.png"
			p style="margin-bottom: 10px" Узнать подробности трудоустройства <br/> по телефону
			strong style="font-weight: bold; font-size: 18px;" 8800 123 456 789
			span style="font-size: 11px; display: block; margin-top: 0px;" звонки по России бесплатно