.sidebar
  - items = { "about" => "О компании", "outsourcing" => "Кадровый аутсорсинг", "team_leasing" => "Лизинг персонала", "outstaffing" => "Аутстаффинг", "benefits" => "Преимущества", "partners" => "Партнёры", "clients" => "Клиенты", "reviews" => "Отзывы", "send_request" => "Отправить заявку"}
  - items.each do |id, name|
    a class="#{"active" if id == @page}" href="#{id}": span =name